.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

button {
   background-color:lightgreen;
}

body {
    background-color: #659DBD;
    font-family: 'Baloo Chettan', cursive;

}

h1 {
    color: white;
    font-size: 40px;
      -webkit-text-stroke: 1px black;
}

p {
    color: white;
    font-size: 30px;
}

.center {
    margin: auto;
  width: 50%;
    text-align: center;
}



input {
    border: 3px solid white;
    height: 50px;
    width: 25%;
    color: white;
}

.buttonStyle {
     border: 3px solid white;
    height: 80px;
    width: 100px;
    color: white;
    font-size: 20px;
}

#gameover {
    text-align: center;
    font-size: 100px;
    
}



